@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 4 28% 23%;
    --card: 60 56% 94%;
    --card-foreground: 4 28% 23%;
    --popover: 60 56% 94%;
    --popover-foreground: 4 28% 23%;
    --primary: 25 56% 40%;
    --primary-foreground: 60 56% 95%;
    --secondary: 25 20% 70%;
    --secondary-foreground: 4 28% 23%;
    --muted: 25 20% 80%;
    --muted-foreground: 4 28% 35%;
    --accent: 348 83% 40%;
    --accent-foreground: 60 56% 95%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 25 20% 70%;
    --input: 25 20% 85%;
    --ring: 25 56% 40%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 4 28% 10%;
    --foreground: 60 56% 91%;
    --card: 4 28% 12%;
    --card-foreground: 60 56% 91%;
    --popover: 4 28% 10%;
    --popover-foreground: 60 56% 91%;
    --primary: 25 56% 50%;
    --primary-foreground: 60 56% 95%;
    --secondary: 25 20% 20%;
    --secondary-foreground: 60 56% 91%;
    --muted: 25 20% 25%;
    --muted-foreground: 60 56% 70%;
    --accent: 348 83% 50%;
    --accent-foreground: 60 56% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 25 20% 30%;
    --input: 25 20% 25%;
    --ring: 25 56% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
